body{
    margin: 0;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Favatanplus.com%2Ffiles%2Fresources%2Foriginal%2F5c013319df24716764af9d3a.png&f=1&nofb=1&ipt=be076e49d4e86d5f87c7f2c79df9046f31bf658098b047655ac6f330a850e904&ipo=images);
}
img{
    position: absolute;
}
    

.imgRafis2{
    max-width: 70%;
    margin-top: 50px;
   margin-left: 230px;
    padding:10px;
    padding-bottom: 50px;
    
    background-color:  #092037;
    z-index: 1;
   
}
.nazat{
    font-size: 40px;
    position: absolute;
    margin-top: 800px;
    margin-left: 250px;
    z-index: 3;
   
}
.g_disk{
    max-width: 4%;
    position: absolute;
    margin-top: 793px;
    margin-left: 700px;
   
    z-index: 3;
    
}
.img1{
    position: absolute;
    z-index: 3;
    max-width: 30%;
    margin-top:900px;
    margin-left: 30px;
}
.img2{
    position: absolute;
    z-index: 3;
    max-width: 30%;
    margin-top:900px;
    margin-left: 660px;

}
.img3{
    position: absolute;
    z-index: 3;
    max-width: 30%;
    margin-top:900px;
    margin-left: 1290px;
}
.img4{
    position: absolute;
    z-index: 3;
    max-width: 30%;
    margin-top:1250px;
    margin-left: 30px;
}
.img5{
    position: absolute;
    z-index: 3;
    max-width: 30%;
    margin-top:1250px;
    margin-left: 660px;
}
.img6{
    position: absolute;
    z-index: 3;
    max-width: 30%;
    margin-top:1250px;
    margin-left: 1290px;
}
@media(max-width: 450px){
    .imgRafis2{
        max-width: 80%;
        margin-top: 50px;
       margin-left: 20px;
        padding:10px;
        padding-bottom: 50px;
        
        background-color:  #092037;
        z-index: 1;
       
    }
    .nazat{
        font-size: 25px;
        position: absolute;
        margin-top:230px;
        margin-left: 25px;
        z-index: 3;
       
    }
    .g_disk{
        max-width: 20%;
        position: absolute;
        margin-top: 210px;
        margin-left: 150px;
       
        z-index: 3;
        
    }
    .img1{
        position: absolute;
        z-index: 3;
        max-width: 40%;
        margin-top: 300px;
        margin-left: 30px;
    }
    .img2{
        position: absolute;
        z-index: 3;
        max-width: 40%;
        margin-top:300px;
        margin-left: 180px;
    
    }
    .img3{
        position: absolute;
        z-index: 3;
        max-width:40%;
        margin-top:500px;
        margin-left: 30px;
    }
    .img4{
        position: absolute;
        z-index: 3;
        max-width: 40%;
        margin-top:400px;
        margin-left: 30px;
    }
    .img5{
        position: absolute;
        z-index: 3;
        max-width: 40%;
        margin-top:400px;
        margin-left: 180px;
    }
    .img6{
        position: absolute;
        z-index: 3;
        max-width:40%;
        margin-top:500px;
        margin-left: 180px;
    }

}